In [1]:
# Import Libraries

import pandas as pd
import numpy as np

In [2]:
# import Data from CSV File
main_data = pd.read_csv("Automobile_data.csv")

In [10]:
# Check for Null Values
main_data.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [ ]:
# Solve Some Questions

## 1. what is the average price and average mileage for convertible cars

In [4]:
sol1 = main_data[main_data["body-style"]=="convertible"]
avg = sol1[["average-mileage","price"]].mean()
print("average price for convertible cars is : ",avg["price"])
print("average mileage for convertible cars is :",round(avg["average-mileage"],2))

average price for convertible cars is :  22341.0
average mileage for convertible cars is : 19.67

##  2) Sort cars by company and price in decending order

In [5]:
main_data.sort_values(["company","price"],ascending=False)

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
...,...,...,...,...,...,...,...,...,...,...
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0

## 3. Save data for 'Toyota' separately

In [6]:
toyota = main_data[main_data["company"]=="toyota"].to_csv("toyota.csv",index=False)

## 4) which company is producing most expensive car?

In [7]:
exp_car = main_data[main_data["price"]==main_data["price"].max()].iloc[0]["company"]
print("Most Expencive car is : ",exp_car)

Most Expencive car is :  mercedes-benz

## 5. Name the cars on basis of maximum length, highest wheelbase, maximum horsepower

In [8]:
max_len = main_data[main_data["length"] == main_data["length"].max()].iloc[0]["company"]
high_wheel = main_data[main_data["wheel-base"] == main_data["wheel-base"].max()].iloc[0]["company"]
max_hor = main_data[main_data["horsepower"]==main_data["horsepower"].max()].iloc[0]["company"]
print("Car with Maximum Length is:", max_len)
print("Car with Highest Wheelbase is:", high_wheel)
print("Car with Maximum Horsepower is:", max_hor)

Car with Maximum Length is: mercedes-benz
Car with Highest Wheelbase is: mercedes-benz
Car with Maximum Horsepower is: porsche

## 6) company wise average price of cars and order them in decending order

In [9]:
avg_price = round(main_data.groupby("company")["price"].mean().sort_values(ascending=False),2)
avg_price

company
porsche          35528.00
mercedes-benz    35040.00
jaguar           34600.00
bmw              27213.33
audi             16392.50
alfa-romero      15498.33
volvo            13177.50
honda            10195.00
mazda             9654.80
volkswagen        8435.00
nissan            8289.00
toyota            8216.86
isuzu             6785.00
mitsubishi        6689.00
dodge             6303.00
chevrolet         6007.00
Name: price, dtype: float64

## 7. create a column named: "decision", If wheel-base is less than 100 and length is less than 175 then "don't buy" else "buy"

In [10]:
c = main_data["decision"] = main_data.apply(lambda main_data:"dont buy" if main_data["wheel-base"]<100 and main_data["length"]<175 else "buy",axis=1)
main_data

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,decision
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,dont buy
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,dont buy
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,dont buy
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,buy
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,buy
...,...,...,...,...,...,...,...,...,...,...,...
56,81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,dont buy
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,dont buy
58,86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,dont buy
59,87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,buy
60,88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,buy

## 8. Select only cars whose decision is "buy"; find average price based on company of car

In [11]:
sol8 = round(main_data[main_data["decision"]=="buy"].groupby("company")["price"].mean(),2)
sol8

company
audi             16392.50
bmw              27213.33
honda            12945.00
jaguar           34600.00
mazda            18344.00
mercedes-benz    35040.00
nissan           13499.00
porsche               NaN
toyota           15750.00
volvo            13177.50
Name: price, dtype: float64